<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css"
  />
  <body>
    <%- include('./layout/header'); -%>

    <div class="d-flex justify-content-center text-center">
      <div class="pt-12 pb-12 w-50 bg-primary-200 d-none d-md-block">
        商品列表
      </div>
      <div class="pt-12 pb-12 w-50 bg-primary-100 d-none d-md-block">
        品牌故事
      </div>
    </div>

    <div class="banner mb-64 mb-md-40 position-relative">
      <div class="mb-32">
        <p class="fs-64">URBNSTEP</p>
        <p class="fs-28 mb-48">Your Step, Your Statement</p>
        <button>立即選購</button>
      </div>
    </div>

    <section class="mb-32 mb-md-24 pl-md-12 pr-md-12 mb-64 mb-md-40">
      <div class="container">
        <p class="fs-48 mb-12 mb-md-8 text-center">New Arrival</p>
        <p class="fs-32 text-center mb-32 mb-md-24">新品上市</p>
        <div class="d-flex flex-wrap">
          <div class="new-col w-50 mb-40 mb-md-24">
            <div class="new-item-card pr-12 pr-md-6">
              <img
                class="mb-md-4 mb-12 mb-md-4"
                src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-week3-4/new-1.png"
                alt=""
              />
              <p class="mb-4 mb-md-0 fs-20 fs-md-16">Monoverse</p>
              <p>NT$3,600</p>
            </div>
          </div>
          <div class="new-col w-50 mb-40 mb-md-24">
            <div class="new-item-card pl-12 pl-md-6">
              <img
                class="mb-12 mb-md-4"
                src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-week3-4/new-2.png"
                alt=""
              />
              <p class="fw-700 fs-20 fs-md-16">PLATFORM 404</p>
              <p>NT$2,600</p>
            </div>
          </div>
          <div class="new-col w-50 mb-40 mb-md-24">
            <div class="new-item-card pr-12 pr-md-6">
              <img
                class="mb-12 mb-md-4"
                src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-week3-4/new-3.png"
                alt=""
              />
              <p class="fw-700 fs-20 fs-md-16">URBN Force</p>
              <p>NT$3,200</p>
            </div>
          </div>
          <div class="new-col w-50 mb-40 mb-md-24">
            <div class="new-item-card pl-12 pl-md-6">
              <img
                class="mb-12 mb-md-4"
                src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-week3-4/new-4.png"
                alt=""
              />
              <p class="fw-700 fs-20 fs-md-16">Mode90</p>
              <p>NT$4,000</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="pl-md-12 pr-md-12 mb-64 mb-md-40">
      <div class="container">
        <h2 class="fs-32 fs-md-24 mb-16 mb-md-21 text-md-center">熱銷補貨</h2>

        <div class="d-flex overflow-x-auto flex-nowrap" style="margin: -12px">
          <div class="w-25 w-md-300 pr-12">
            <div class="hot-item-card position-relative">
              <p>人氣 No.1</p>
              <img src="../assets/images/product-3.png" alt="Melty Kiss" />
            </div>
          </div>
          <div class="w-25 w-md-300 pr-12">
            <div class="hot-item-card position-relative">
              <p>人氣 No.1</p>
              <img src="../assets/images/product.png" alt="PLATFORM 404" />
            </div>
          </div>
          <div class="w-25 w-md-300 pr-12">
            <div class="hot-item-card position-relative">
              <p>人氣 No.1</p>
              <img src="../assets/images/product-6.png" alt="R:UNER" />
            </div>
          </div>
          <div class="w-25 w-md-300 pr-12">
            <div class="hot-item-card position-relative">
              <p>人氣 No.1</p>
              <img src="../assets/images/product-4.png" alt="BOOMBLOK" />
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="mb-120 mb-md-64">
      <div class="cool-banner">
        <h3>URBNSTEP <span>x</span> Kevin Chen</h3>
        <p>跨界聯名，限量發售</p>
        <p>新銳漫畫家 Kevin Chen 親自操刀設計，街頭能量全面引爆！</p>
        <button>立即搶購</button>
      </div>
    </section>

    <section class="pl-md-12 pr-md-12 mb-64 mb-md-40">
      <div class="container">
        <h2 class="fs-32 fs-md-24 mb-16 mb-md-21 text-md-center">依系列選購</h2>
        <div class="d-flex flex-wrap">
          <div class="w-25 w-md-50 mb-md-12 pr-12">
            <div class="chose-shoe">
              <img src="../assets/images/product-6.png" alt="BOOMBLOK" />
              <div class="overlay">
                <h3>URBN RUNNER</h3>
                <p>慢跑系列</p>
              </div>
            </div>
          </div>

          <div class="w-25 w-md-50 mb-md-12 pr-12 pr-md-0">
            <div class="chose-shoe">
              <img src="../assets/images/product.png" alt="BOOMBLOK" />
              <div class="overlay">
                <h3>URBN RUNNER</h3>
                <p>滑板系列</p>
              </div>
            </div>
          </div>
          <div class="w-25 w-md-50 mb-md-12 pr-12">
            <div class="chose-shoe">
              <img src="../assets/images/product-4.png" alt="BOOMBLOK" />
              <div class="overlay">
                <h3>URBN RUNNER</h3>
                <p>厚底系列</p>
              </div>
            </div>
          </div>
          <div class="w-25 w-md-50 mb-md-12">
            <div class="chose-shoe">
              <img src="../assets/images/product-10.png" alt="BOOMBLOK" />
              <div class="overlay">
                <h3>URBN RUNNER</h3>
                <p>聯名系列</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="mb-120 d-md-none">
      <div class="container">
        <h2 class="fs-32 fs-md-24 mb-16 mb-md-21 text-md-center">穿搭靈感</h2>
        <div class="d-flex">
          <div class="d-flex flex-direction-column w-33 pr-4">
            <div class="d-flex mb-4">
              <div class="w-50 pr-4">
                <img
                  class="w-100"
                  src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-week3-4/inspiration-1.png"
                  alt="穿搭靈感"
                />
              </div>
              <div class="w-50 pl-4">
                <img
                  class="w-100"
                  src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-week3-4/inspiration-2.png"
                  alt="穿搭靈感"
                />
              </div>
            </div>
            <div class="mt-4 pb-8">
              <img
                class="w-100"
                src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-week3-4/inspiration-3.png"
                alt="穿搭靈感"
              />
            </div>
          </div>

          <div class="d-flex flex-wrap w-33 pl-4 pr-4">
            <div class="w-50 pr-4">
              <img
                class="w-100"
                src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-week3-4/inspiration-4.png"
                alt="穿搭靈感"
              />
            </div>
            <div class="w-50 pl-4">
              <img
                class="w-100"
                src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-week3-4/inspiration-5.png"
                alt="穿搭靈感"
              />
            </div>
            <div class="w-50 pr-4">
              <img
                class="w-100"
                src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-week3-4/inspiration-6.png"
                alt="穿搭靈感"
              />
            </div>
            <div class="w-50 pl-4">
              <img
                class="w-100"
                src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-week3-4/inspiration-7.png"
                alt="穿搭靈感"
              />
            </div>
            <div class="w-50 pr-4">
              <img
                class="w-100"
                src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-week3-4/inspiration-8.png"
                alt="穿搭靈感"
              />
            </div>
            <div class="w-50 pl-4">
              <img
                class="w-100"
                src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-week3-4/inspiration-9.png"
                alt="穿搭靈感"
              />
            </div>
          </div>
          <div class="d-flex flex-direction-column w-33 pl-4">
            <div class="pb-4">
              <img
                class="w-100"
                src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-week3-4/inspiration-10.png"
                alt="穿搭靈感"
              />
            </div>
            <div class="d-flex pt-4">
              <div class="w-50 pr-4">
                <img
                  class="w-100"
                  src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-week3-4/inspiration-11.png"
                  alt="穿搭靈感"
                />
              </div>
              <div class="w-50 pl-4">
                <img
                  class="w-100"
                  src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-week3-4/inspiration-12.png"
                  alt="穿搭靈感"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="d-md-block d-none pl-md-12 pr-md-12 mb-64">
      <h2 class="fs-32 fs-md-24 mb-16 mb-md-21">穿搭靈感</h2>

      <div class="d-flex flex-nowrap overflow-x-auto">
        <div class="w-md-300 pr-8">
          <img
            class="w-100"
            src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-week3-4/inspiration-1.png"
            alt="穿搭靈感"
          />
        </div>
        <div class="w-md-300 pr-8">
          <img
            class="w-100"
            src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-week3-4/inspiration-2.png"
            alt="穿搭靈感"
          />
        </div>
        <div class="w-md-300 pr-8">
          <img
            class="w-100"
            src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-week3-4/inspiration-3.png"
            alt="穿搭靈感"
          />
        </div>
        <div class="w-md-300 pr-8">
          <img
            class="w-100"
            src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-week3-4/inspiration-4.png"
            alt="穿搭靈感"
          />
        </div>
        <div class="w-md-300 pr-8">
          <img
            class="w-100"
            src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-week3-4/inspiration-5.png"
            alt="穿搭靈感"
          />
        </div>
        <div class="w-md-300 pr-8">
          <img
            class="w-100"
            src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-week3-4/inspiration-6.png"
            alt="穿搭靈感"
          />
        </div>
        <div class="w-md-300 pr-8">
          <img
            class="w-100"
            src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-week3-4/inspiration-7.png"
            alt="穿搭靈感"
          />
        </div>
        <div class="w-md-300 pr-8">
          <img
            class="w-100"
            src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-week3-4/inspiration-8.png"
            alt="穿搭靈感"
          />
        </div>
        <div class="w-md-300 pr-8">
          <img
            class="w-100"
            src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-week3-4/inspiration-9.png"
            alt="穿搭靈感"
          />
        </div>
        <div class="w-md-300 pr-8">
          <img
            class="w-100"
            src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-week3-4/inspiration-10.png"
            alt="穿搭靈感"
          />
        </div>
        <div class="w-md-300 pr-8">
          <img
            class="w-100"
            src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-week3-4/inspiration-11.png"
            alt="穿搭靈感"
          />
        </div>
        <div class="w-md-300 pr-8">
          <img
            class="w-100"
            src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-week3-4/inspiration-12.png"
            alt="穿搭靈感"
          />
        </div>
      </div>
    </section>

    <section class="mt-48 bg-primary-200 pt-33 pb-33 mb-64">
      <div class="container">
        <p class="text-center">
          加入會員取得 9 折優惠<span
            class="ml-24 pl-24 pr-24 pt-12 pb-12"
            style="color: #ffffff; background: #000; border-radius: 4px"
            >馬上註冊</span
          >
        </p>
      </div>
    </section>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
